# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies handled by root

# production handled by root

# next.js handled by root

# misc handled by root

# debug handled by root

# env files handled by root

# typescript
next-env.d.ts
